body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    font-family: Arial, sans-serif;
}

/* Carta */
.carta{
    width:320px;
    height:220px;
    position:relative;
    cursor:pointer;
    perspective:1000px;
}

/* Sobre */
.sobre{
    width:100%;
    height:100%;
    background:#ff6b81;
    position:absolute;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:22px;
    transition:1s;
    backface-visibility:hidden;
}

/* Mensaje */
.mensaje{
    width:100%;
    height:100%;
    background:white;
    position:absolute;
    border-radius:12px;
    padding:20px;
    box-sizing:border-box;
    transform:rotateY(180deg);
    transition:1s;
    text-align:center;
    backface-visibility:hidden;
}

/* Animación */
.abierta .sobre{
    transform:rotateY(180deg);
}

.abierta .mensaje{
    transform:rotateY(0deg);
}

/* Botón */
button{
    margin-top:15px;
    padding:8px 15px;
    border:none;
    border-radius:8px;
    background:#ff6b81;
    color:white;
    cursor:pointer;
}
